<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Dynamo Journals</a>
    </div>
  </nav>
  <h1 class="font-monospace text-center fw-bolder">Seleccione las etiquetas de su interes</h1>
<div>
    
    <app-tag-selector [options]="options" [formControl]="chipsControl">
        
    </app-tag-selector>

    <label for="operation">Etiquetas</label>
    <select name="operation" class="custom-select d-block w-100" id="operation"  >
        <option *ngFor="let option of options" [value]="option" >{{option}}</option>
      </select>
     

  
<button class="btn btn-success" (click)="imprimir()">Continuar</button>
</div>