<app-header-sub></app-header-sub>



<body>
    <div class="container">
        <h1 class="text-center">Perfil Editor</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h2 class="text-center" >Nombre : </h2>
                        <span> {{editorR.nombre}}</span>
                    </div>
                    <div class="form-group">
                        <h2 class="text-center" >Apellido : </h2>
                        <span> {{editorR.apellido}}  </span>
                    </div>
                    <div>
                        <h2 class="text-center" >usuario :  </h2>
                        <span> {{editorR.usuario}} </span>
                    </div>
                    <div>
                        <h2 class="text-center" >Intereses :</h2>
                        <p> {{editorR.etiquetasInteres}} </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h2 class="text-center" >Descripcion :</h2>
                        <p> {{editorR.informacion}}</p>
                    </div>
                </div>
            </div>
      
    </div>


</body>



<app-footer-sub></app-footer-sub>