<body>
    <h1 class="text-center fw-bolder" >Ediciones</h1>
    <h1 class="text-center fw-bolder" > {{revistaSelect.nombreRevista}} </h1>
    <div class="conteiner">
        <div class="card-header">
            <h2 class="h1 text-center">Revistas</h2>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th>Numero</th>
                    <th>Titulo Revista</th>
                    <th>Fecha de la edicion</th> 
                    <th></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let edicion of edicionesRevista; let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{revistaSelect.nombreRevista}}</td>
                    <td> {{edicion.fechaCreacion}} </td>
                    <td>
                      <a (click)="mostrarR(edicion)" href={{revistaPdf}} target="myFrame"   class="btn btn-danger">Leer</a>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div *ngIf="mostrar">
      <div class="card">
        <iframe name="myFrame" style="width:100%; height:500px;" frameborder="0"></iframe>
      </div>
    </div>
</body>