<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center" id="exampleModalLabel">Previsualizacion de la Revista</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <h3>Nombre de la revista: {{revistaR.nombreRevista}}</h3>
            <h3>Descricion: {{revistaR.descripcion}}</h3>
            <h3>Categoria: {{revistaR.categoria}}</h3>
            <h3>Etiquetas:{{revistaR.etiquetas}} </h3>
            <a href="">Editor: {{revistaR.editor}} </a>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Suscribirse</button>
        </div>
      </div>
    </div>
  </div>
  