<app-header-editor></app-header-editor>



    
  
    <div>
       
    <button class="btn btn-dark text-center" routerLink="/Nueva-Revista" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        Nueva revista</button>
    </div>
    <button type="button" (onclick)="imprimir()" >Imprimir</button>
    
    <body>
      <h1 class="text-center fw-bolder" >Mis revistas</h1>
      <button class="btn btn-dark text-center" routerLink="/Nueva-Revista">Nueva revista</button>
      <div class="conteiner">
          <div class="card-header">
              <h2 class="h1 text-center">Revistas</h2>
              <table class="table table-success table-striped">
                  <thead>
                    <tr>
                      <th>Codigo Revista</th>
                      <th>Titulo Revista</th>
                      <th></th> 
                      <th></th>                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let revista of revistasEditor; let i= index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{revista.nombreRevista}}</td>
                      <td>
                      </td>
                      <td>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectElement(revista)" class="btn btn-info">Previsualizar</button>
                        <button (click)="ediciones(revista)" class="btn btn-success">Ediciones</button>
                       
                        
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectElement(revista)" class="btn btn-danger">Permisos</button>
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
  </body>

<app-previ-revista></app-previ-revista>


<app-footer-editor></app-footer-editor>