<app-header-editor></app-header-editor>


<body>
    <h1 class="text-center">Reportes Editor</h1>

    <div class="row">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Reporte de comentarios</h4>
              <p class="card-text">Muestra los comentarios, se puede listar por revista o por un rango de fechas</p>
              <button routerLink="/FormReporteComentarios" class="btn btn-info" >Ver reporte</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Reporte de Suscripciones</h4>
              <p class="card-text">Mustra un listado de las suscrpiciones pudiendo filtrar por revista</p>
              <button routerLink="/FormReporteSuscripcion" class="btn btn-info" >Ver reporte</button>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Reporte de Me gustas</h4>
                <p class="card-text">Muestra un listado de los megusta en un intervalo de tiempo o por revista</p>
                <button routerLink="/FormReporteMeGusta" class="btn btn-info" >Ver reporte</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="card-title">Reporte de Ganancias</h4>
                <p class="card-text">Muestra las ganancias obtenidas en un intervalo de tiempo, listando las susripciones</p>
                <button routerLink="/FormReporteGananciasE" class="btn btn-info" >Ver reporte</button>
              </div>
            </div>
          </div>
      </div>
    




       
    
  


</body>


<app-footer-editor></app-footer-editor>