
<title>Informacion</title>

<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Dynamo Journals</a>
    </div>
  </nav>
<h1 class="text-center fw-bold">Cuentanos sobre ti </h1>
<h5 class="fw-bold text-center">Añade una descripcion para tu perfil(hobbies,gustos..)</h5>


<input type="text" size=60 style="width:700px">

    <div>
       
        
    </div>
    <button (click)="enviar()" class="btn btn-dark">Registrar</button>


