textarea{
    resize: none;
    padding: 0;
    height: 100px;
    width: 25%;
    margin-left: 38%;
    margin-right: 0%;
    border-radius: 10px;
    border-color: black;
}


a{
    text-align: center;
}

.btn.btn-dark{
    margin-top: 25%;

}


.cate{
    
    margin-left: 50%;
}