
<title>Informacion</title>

<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Dynamo Journals</a>
    </div>
  </nav>
<h1 class="text-center fw-bold">Cuentanos sobre ti </h1>
<h4 class="fw-bold text-center">Añade una breve descripcion para tu perfil(hobbies,gustos..)</h4>

<form [formGroup]="infoFomr"(ngSubmit)="enviar(infoFomr.value)" > 
  <textarea class="text-area" formControlName="textarea" ></textarea>
<br>
<div>
  
  <label for="operation">Etiquetas</label>
  <select name="operation" formControlName="etiquetaS" class="custom-select d-block w-100" id="operation" (click)="imprimir()"  >
    <option *ngFor="let option of options"   [value]="option" > {{option}}</option>
  </select>

</div>
<div>
  <label for="operation">Etiquetas seleccionadas</label>
  <p>{{tagsSelected}}</p>
  <div *ngFor="let tag of tagsSelected"> 
    {{tag}}
  </div>
</div>


  <button type="submit" class="btn btn-dark">Registrar</button>
 
</form>





