<app-header-editor></app-header-editor>
<div class="container contact-form">
    <form >
        <h3>Nueva edicion</h3>
        <p class="text-center" >Llene el formulario para poder publicar una nueva edicion</p>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nombre Revista</label>
                </div>
                <div class="form-group">
                    
                    <input type="date" name="precio" class="form-control" placeholder=" $ Precio suscripcion" value="" />
                    <p class="fw-norma">Indique la fecha a la que pertenece la edicion</p>
                </div>                
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Publicar Edicion" />
                    
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="file-input">
                    <label for="exampleFormControlFile1">Seleccione la revista</label>
                    <input type="file" class="file" id="exampleFormControlFile1">
                </div>

            </div>
        </div>
    </form>
</div>


<app-footer-editor></app-footer-editor>