<app-header-editor></app-header-editor>
<div class="container contact-form">
    <form [formGroup]="edicionForm" (ngSubmit)="publicarEdicion()"  >
        <h2 class="text-center">Nueva edicion</h2>
        <p class="text-center" >Llene el formulario para poder publicar una nueva edicion</p>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for=""> Nombre de la revista: {{revistaSelect.nombreRevista}} </label>
                </div>
                <div class="form-group">
                    
                        <label>Fecha de creacion</label>
                        <input formControlName="fechaCreacion" type="date">
                    
                </div>                
                <div class="form-group">
          
                    <button type="submit" class="btn btn-success" [disabled]="edicionForm.invalid">Publicar revista</button>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="file-input">
                    <div class="col-md-4">
                        <label for="operation">Archivo PDF de la revista</label>
                        <input type="file" (change)="fileUploadInAngular($event)" />
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<app-footer-editor></app-footer-editor>