<app-header-admin></app-header-admin>


<body>
    <h1 class="text-center">Reportes Adminsitrador</h1>

    <div class="row">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Reporte de ganacias por revista</h4>
              <p class="card-text">Muestra las ganancias por revistas entre un rano de fechas</p>
              <button routerLink="/FormReporteGananciasA" class="btn btn-info" >Ver reporte</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Reporte de revistas Populares</h4>
              <p class="card-text">Mustra las 5 revistas mas populares y sus suscripciones</p>
              <button routerLink="/FormReportePopulares" class="btn btn-info" >Ver reporte</button>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Reporte de revistas Comentadas</h4>
                <p class="card-text">Muestra las 5 revistas mas comentadas y una lista de los comentarios</p>
                <button routerLink="/FormReporteComentadas" class="btn btn-info" >Ver reporte</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Reporte de Anuncios</h4>
                <p class="card-text">Muestra los anuncios y la ganancia de cada uno</p>
                <button routerLink="/ReporteAnuncio" class="btn btn-info" >Ver reporte</button>
              </div>
            </div>
          </div>
      </div>
    






</body>

<app-footer-admin></app-footer-admin>