<app-header-sub [nombreUsuario]="usuarioLoged.nombre"></app-header-sub>
<div class="container">

    <div class="prueba" >
        <h1 class="font-monospace fw-bold text-center">Dynamo Journal</h1>
        <p class=" fw-normal text-center">Mas que un sitio web de revistas, una comunidad entera </p>
    
    </div>
    <div class="img">
        <img src="./assets/img/pexels-kaboompics-com-6214.jpg" class="img-fluid"  />
    </div>
       
</div>
<button (click)="click()" >Presione</button>



<app-footer-sub></app-footer-sub>