<app-header-editor></app-header-editor>
<div class="container contact-form">
    <form [formGroup]="revistaForm" (ngSubmit)="publicarRevista()" >
        <h3>Nueva revista</h3>
        <p class="text-center">
            Llene el formulario para poder publicar una nueva revista
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="nombreRevista" type="text" class="form-control"
                        placeholder="Nombre de la revista" value="" />
                </div>
                <div class="form-group">
                    <p>Categorias</p>
                    <select name="operation" formControlName="categoria" class="custom-select d-block w-100"
                        id="operation">
                        <option *ngFor="let categoria of categorias" [value]="categoria">
                            {{ categoria }}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="operation">Etiquetas</label>
                    <select name="operation" formControlName="etiquetaS" class="custom-select d-block w-100"
                        id="operation" (click)="agregar()">
                        <option *ngFor="let etiqueta of etiquetas" [value]="etiqueta">
                            {{ etiqueta }}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="operation">Etiquetas seleccionadas</label>
                    <p>{{ tagsSelected }}</p>
                    <div *ngFor="let tag of tagsSelected">
                        {{ tag }}
                    </div>
                </div>

                <div class="form-group">
                    <input type="number" formControlName="precioRevista" class="form-control"
                        placeholder=" $ Precio suscripcion" value="" />
                    <p class="fw-norma">
                        Indique el precio, si indica 0 su revista sera de suscripcion
                        gratuita
                    </p>
                </div>
                <div>
                    <label>Fecha de creacion</label>
                    <input formControlName="fechaCreacion" type="date">
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="revistaForm.invalid">Publicar revista</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" formControlName="descripcion" class="form-control" placeholder="Descripcion"
                        style="width: 100%; height: 300px"></textarea>
                </div>
                <div class="col-md-4">
                    <label for="operation">Archivo PDF de la revista</label>
                    <input type="file" (change)="fileUploadInAngular($event)" />
                   
                </div>
            </div>
        </div>
    </form>
</div>

<app-footer-editor></app-footer-editor>